<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>File Uploader Microservice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>File Metadata Microservice</h1>
      <p>
        Upload a file to see its size.
      </p>
      <div>
        <label class="btn btn-default">
          Browse
          <input type="file" style="display: none;">
        </label>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script>
     $('input[type=file]').change(function() {
       var element = this;
       var data = new FormData();
       data.append('file', element.files[0]);
       disableInput(element);
       $.ajax({
         url: '/',
         type: 'POST',
         data: data,
         processData: false,
         contentType: false
       }).done(function(data) {
         $('p').text('The size of uploaded file is '+data.size+' bytes.');
       }).fail(function(data) {
         $('p').text('An error occured while processing your request.');
         console.error(data);
       }).always(function () {
         enableInput(element);
       })
     });

     function disableInput(input) {
       $(this).attr('disabled', true);
       $(this).parents('btn').addClass('disabled');
     }

     function enableInput(input) {
       $(this).attr('disabled', false);
       $(this).parents('btn').removeClass('disabled');
     }
    </script>
  </body>
</html>
